<!--<p>{{ 4346234.36 | number}}</p>-->
<!--<p>{{ 4346234.3 | number: '1.0-1' }}</p>
<p>{{ 344.36 | currency }}</p>
<p>{{ 0.336 | percent }}</p>
<p>{{ 344.36 | currency: 'EUR' : 'code' }}</p>

<app-face-snap *ngFor="let faceSnap of facesnaps" [faceSnap]="faceSnap" ></app-face-snap>
<app-face-snap  [faceSnap]="mySnap" ></app-face-snap>
<app-face-snap  [faceSnap]="mySnap2" ></app-face-snap>
<app-face-snap  [faceSnap]="mySnap3" ></app-face-snap>-->
<app-header></app-header>
<app-face-snap-list></app-face-snap-list>